@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&family=Mochiy+Pop+One&family=Montserrat:wght@400;500;600&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000 !important;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    position: fixed-top;
    width: 100%;
    height: 80px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(28,28,28,0.9529061624649859) 95%);
}
.checkbtn{
    position: absolute;
    left: 90%;
    font-size: 20px;
    color: #ffffffa4;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.wrapper-logo {
    width: 50%;
    align-items: center;
}

.logo a{
    text-decoration: none;

}
.logo__1, .logo__2{
    font-family: 'Kanit', sans-serif !important;
    font-size: 30px;
    font-weight: 400;
    color: #ffff;
    text-decoration: none;
} 

.logo__1{
    font-weight: 400;
}

.logo__2 {
    font-weight: 200;
    color: #D22B2B;
}
/* search  */
.search{
    display: inline-block;
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    width: 40%;
    margin-left: 15px;
    
}
input::placeholder {
    color: #4e4e4e !important;
}

.search input{
    border: none;
    background-color: #1b1c1e;
    width: 100%;
    color: #fff;
}
.search input:focus{
    box-shadow: none;
    width: 100%;
    background-color: #1b1c1e;
    border: none;
    color: #fff;
}

.search button{
    position: absolute;
    top: 4px;
    right: 5px;
    height: 30px;
    width: 15%;
    background-color: transparent;
    border-radius: 100px;
    box-shadow: none;
    border: none;
    transition: all 0.3s ease; 
}

.search .btn {
    text-align: center;
    padding: 0;

}

nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: end;
}
.nav__ul {
    padding: 0;
    margin: 0;
    width: 100%;
}
.nav__ul li {
    display: inline-block;
    margin: 0 0.8rem;
    font-size: 17px;
}
.nav__ul a {
    color: #ffff;
    transition: all 0.3s ease;
    text-decoration: none;
}
.nav__ul a:hover {
    color: #D2042D;
}

.nav__ul button {
    color: #ffff;
    background-color: #D2042D;
    padding: 5px 8px;
    border-radius: 8px;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease; 
    font-weight: 600;
}
.nav__ul button:hover {
    background-color: #d2042dc1;
}
.nav__ul button a:hover{
    color: #000 !important;
    font-weight: 600;
}


.wrap-h1 span {
    font-size: 25px;
    color: #D2042D;
}
.wrap-h1 h1 {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}

/* Card */
.wrap-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}
.card {
    width: 150px;
    background-color: #232D3F !important;
    margin-bottom: 30px;
    transition: 0.5 ease;
} 
.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    height: 100%;
}

.card-body {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    position: absolute;
}
.card-body span {
    display: none;
    color: #ffff !important;
    position: absolute;
    width: 100%;
    top: 70%;
}
.card-body span p {
    width: 100%;
    font-size: 15px;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 8em;
    max-height: 3em;
}
.card-body:hover {
    background: rgb(0,0,0);
    background: linear-gradient(3deg, rgba(0,0,0,0.9473039215686274) 0%, rgba(0,0,0,0.8128501400560224) 60%, rgba(0,0,0,0.6615896358543417) 100%);
}
.card-body:hover span {
    display: inline-block;
}

/* Footer */
footer {
    background-color: #0a0a0a;
}
.wrap-footer{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-1 {
    text-align: center;
    color: #ffff;
    width: 60%;
}
.footer-2 {
    width: 40%;
    text-align: center;
}
.footer-2 a{
    text-decoration: none;
}
.footer-2 a i{
    font-size: 30px;
    margin: 30px 20px 0;
}
.copyright {
    padding-bottom: 15px;
    text-align: center;
    font-size: 13px;
    color: #ffff;
}
.copyright p {
    margin: 0;
}

@media (max-width: 858px){
    .search {
        display: none;
    }
    .checkbtn{
        display: block;
    }
    .nav__ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #0a0a0ac5;
        top: 80px;
        left: 100%;
        z-index: 100;
        text-align: center;
        transition: all .5s;
    }
    .nav__ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #check:checked ~ nav > .nav__ul{
        left: 0;
    }
    .card {
        width: 150px;
    }
}
